{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cold Commerce</title>
        <link rel="stylesheet" href="{% static 'css/site.css' %}">
    </head>
    <body>

        <div class="tabs is-centered mb-1">
            <ul>
                {% for category in all_categories %}
                    {% if request.resolver_match.kwargs.category_id == category.id %}
                        <li class="is-active">
                            <a>{{ category.name }}</a>
                        </li>
                    {% else %}
                        <li>
                            <a>{{ category.name }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>

        <div class="columns is-gapless">
            <div class="column"></div>
            <div class="column is-three-fifths">

                <div class="mt-4">
                    {% block content %}
                    {% endblock %}
                </div>

            </div>
            <div class="column"></div>
        </div>

    </body>
</html>