{% extends "core/base.html" %}

{% block content %}

    <h1 class="title">Shopping Cart</h1>

    <table class="pure-table mt-2">
        <thead>
            <th>Product</th>
            <th>Quantity</th>
            <th></th>
        </thead>
        <tbody>
            {% for cartline in cartlines %}
                <tr>
                    <td>
                        <span class="cart-product">{{ cartline.product_variant.product.name }}</span>
                        <br>
                        <span class="cart-product-variant">{{ cartline.product_variant.name }}</span>
                    </td>
                    <td>
                        <form class="pure-form">
                            <input type="number" name="quantity" min="1" value="{{ cartline.quantity }}" style="width: 100px;">
                            <button class="pure-button pure-button-primary">
                                <span class="oi" data-glyph="loop-circular"></span>
                            </button>
                        </form>
                    </td>
                    <td>
                        <button class="pure-button pure-button-primary" style="background: rgb(202, 60, 60);">
                            <span class="oi" data-glyph="x" style="font-size: 75%;"></span>
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}