{% extends "core/base.html" %}

{% block content %}
    <div class="pure-g">
        {% for product in products %}
            <div class="pure-u-1 pure-u-md-1-4">
                <div class="p-1 text-center">
                    <a class="link-image" href="/category/{{ category.id }}/product/{{ product.id }}">
                        <img class="pure-img" src="{{ product.image.url }}">
                        <div>
                            {{ product.name }}<br>
                            <span>{{ product.subtitle }}</span>
                        </div>
                    </a>
                </div>
                
            </div>
        {% endfor %}
    </div>
{% endblock %}