{% extends "core/base.html" %}

{% block content %}

<div class="box">
    <h2 class="has-text-weight-normal">{{ product.name }}</h2>

    <div class="columns">
        <div class="column is-half">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sodales erat erat, eget rutrum magna volutpat eu. Sed in dui interdum, porta justo ut, elementum mauris. Nullam pellentesque urna velit, eu euismod tellus blandit et. Curabitur tincidunt urna quis augue fermentum maximus. Etiam tristique, lectus et sollicitudin pretium, nunc lectus lobortis nisl, ut luctus elit ex vel dolor. Suspendisse ut augue ut ex sagittis hendrerit blandit et nulla. Proin fermentum lectus in efficitur lacinia. Nunc interdum nec urna a accumsan. Proin in massa quam. Sed euismod lacus a neque mattis, quis congue ex vulputate. Maecenas ullamcorper neque sit amet neque commodo, imperdiet tincidunt nibh commodo.</p>
        </div>
        <div class="column is-half">
            <table class="table is-hoverable is-narrow">
                <thead>
                    <th>Variant</th>
                    <th>Price</th>
                    <th></th>
                </thead>
                <tbody>
                {% for variant in variants %}
                    <tr>
                        <td class="valign-middle">{{ variant.name }}</td>
                        <td class="valign-middle">${{ variant.unit_price }}</td>
                        <td class="width-20">
                            <form method="post">
                                <div class="field has-addons">
                                    <div class="control">
                                        <input type="hidden" name="productVariantId" value="{{ variant.id }}">
                                        <input type="number" min="1" name="quantity" class="input is-small" value="1" style="width: 64px;" required>
                                    </div>
                                    <div class="control">
                                        <button type="submit" class="button is-info is-small">Add to Cart</button>
                                    </div>
                                </div>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}