{% extends "core/base.html" %}

{% block content %}

<div>
    <a class="link-back" href="/category/{{ product.category.id }}">
        <span class="oi" data-glyph="arrow-left"></span>
        Back to {{ product.category.name }}
    </a>
</div>

<div>
    <h1 class="title is-3 has-text-weight-normal">{{ product.name }}</h1>
    {% if product.subtitle is not None %}
    <h2 class="subtitle is-4">{{ product.subtitle }}</h2>
    {% endif %}

    <div class="columns content">
        <div class="column is-half">
            {% lorem 3 p %}
        </div>
        <div class="column is-half">
            <table class="pure-table">
                <thead>
                    <th>Product</th>
                    <th>Price</th>
                    <th></th>
                </thead>
                <tbody>
                {% for variant in variants %}
                    <tr>
                        <td class="valign-middle">{{ variant.name }}</td>
                        <td class="valign-middle">${{ variant.unit_price }}</td>
                        <td>
                            <form method="post" class="pure-form">
                                {% csrf_token %}
                                <input type="hidden" name="product_variant" value="{{ variant.id }}">
                                <input type="number" min="1" name="quantity" value="1" style="width: 64px;" required>
                                <button type="submit" class="pure-button pure-button-primary">Add to Cart</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}