@import url('pure/pure-min.css');
@import url('pure/grids-responsive-min.css');
@import url('open-iconic/font/css/open-iconic.min.css');
@import url('menu.css');

html, body {
    background-color: #fff;
    color: #888;
    line-height: 1.6em;
}

a {
    color:  #0078e7;
    text-decoration: none;
}

a:hover {
    color: #333;
}

.p-1 {
    padding: 1em;
}

.mt-2 {
    margin-top: 2em;
}

.text-center {
    text-align: center;
}

.valign-middle {
    vertical-align: middle !important;
}

.title {
    font-weight: 500;
    margin-bottom: 0.2em;
    color: #777;
}

.subtitle {
    font-weight: 100;
    font-style: oblique;
    margin-top: 0.2em;
    color: #aaa;
}

.breadcrumb ul {
    padding-inline-start: 0;
    text-decoration: none;
}

.breadcrumb li {
    display: inline-block;
}
.breadcrumb li:first-child a {
    padding-left: 0;
}

.breadcrumb li a {
    text-decoration: none;
    padding: 0.2em;
}

.breadcrumb li+li::before {
    color: #b5b5b5;
    content: "\0002f";
}

.tabs ul {
    list-style: none;
    display: flex;    
    justify-content: center;
    margin: 0;
    padding: 0;
    border-bottom: solid 1px #eee;
}

.tabs a {
    padding: 0.5em 1em;
    display: flex;
    margin-bottom: -1px;
    border-bottom: 1px solid #eee;
    color: #888;
}

.tabs a:hover {
    border-bottom: 1px solid #888;
}

.tabs li {
    display: block;
    margin: 0;
    padding: 0;
}

.tabs li.is-active a {
    color: #0078e7;
    border-bottom: solid 1px #0078e7;
}

.link-back {
    margin-top: 1em;
    display: block;
}

.link-image {
    display: block;
}

.link-image:hover {
    background-color: #f9f9f9;
}

.link-image div {
    font-size: 1.2em;
    color: #777;
    padding-top: 0.5em;
}

.link-image div span {
    color: #aaa; 
    font-size: 0.8em;
    font-style: oblique;
}

.cart {
    position: fixed;
    top: 0;
    background-color:#191818;
    z-index: 20;
    right: 0;
    padding: 0.5em 1em;
    display: block
}

.cart:hover {
    background-color: #333;
    color: #fff;
}

.cart {
    color: #fff;
}

.cart span.oi {
    padding-right: 0.5em;
}

.brand {
    font-family: "Segoe UI Light";
    color: #fff;
    font-size: 1.5em;
}

#menu .pure-menu-item a {
    padding-left: 1.5em;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}