@import url('pure/pure-min.css');
@import url('open-iconic/font/css/open-iconic.min.css');

html, body {
    background-color: #eee;
}

.valign-middle {
    vertical-align: middle !important;
}

.width-20 {
    width: 20%;
}

.title {
    font-weight: 500;
}

.subtitle {
    font-weight: 100;
}